body {
    background: blue;
    animation: grade 7s infinite;
}

#cronometro {
    background: rgb(29, 29, 106);
    margin: auto;
    width: 400px;
    height: 400px;
    border: 5px solid rgb(61, 61, 255);
    border-radius: 50px;
}

#cronometro input {
    width: 200px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 80px;
}

#cronometro button {
    width: 100px;
    height: 50px;
    position: relative;
    top: 100px;
    font-size: 20px;
    background: rgb(108, 108, 187);
}

#cronometro input,
#cronometro button,
#cronometro select {
    display: block;
    margin: auto;
}

#cronometro select {
    width: 100px;
    height: 50px;
    position: relative;
    top: 120px;
    font-size: 20px;
}

.but {
    width: 40px;
    height: 40px;
}

footer {
    margin: auto;
    text-align: center;
    margin-top: 100px;
}

@media screen and (max-width:450px) {
    #cronometro {
        width: 200px;
        height: 200px;
    }
    #cronometro input {
        width: 100px;
        height: 20px;
        font-size: 20px;
        position: relative;
        top: 10px;
    }
    #cronometro button {
        width: 50px;
        font-size: 10px;
        height: 25px;
        position: relative;
        top: 30px;
    }
    #cronometro select {
        position: relative;
        top: 40px;
    }
}

#botoes-salvamento {
    margin-top: 30px;
}

#botoes-salvamento button {
    width: 70px;
    font-size: 15px;
    height: 30px;
}

@keyframes grade {
    0% {
        background: blue;
    }
    50% {
        background: rgb(201, 0, 201)
    }
    100% {
        background: blue;
    }
}